
body {
    background: url("cc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

.container{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 10px;
    padding: 10 px;
    text-align: justify;

}

img{

    height: 300px;

}

